imageio==2.9.0
transformers==4.5.1
torch==1.8.1
tqdm==4.50.2
torchvision==0.9.1
pandas==1.3.2
pandarallel==1.5.2
numpy==1.19.5
efficientnet_pytorch==0.7.0
pytorch_ignite==0.4.3
ignite==1.1.0
Pillow==8.3.2
scikit_learn==0.24.2
